@use "../../assets/sass/_variables.scss" as *;

.header{
  display: flex;
  justify-content: center;
  background-color: $color-sandy;
  border: 3px groove $color-red;
  .header__h1{
    color: $color-darkbrown;
    font-family: $font-primary;
  }
}